/* =============================================================================
   My CSS
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


@font-face {
    font-family: 'Saonara';
    src: url(fonts/made_saonara/font.otf);
}

@font-face {
    font-family: 'artisan';
    src: url(fonts/sunshine_valley/SunshineValley.otf);
}

@font-face {
    font-family: 'hud';
    src: url(fonts/GathaScript/GathaScript.ttf);
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
}

.count-particles {
    position: relative;
    top: 520px;
    /*    color:black;*/
    color: white;
    text-indent: 4px;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    animation: bounceIn;
    animation-duration: 7s;
}

.text7 {
    position: relative;
    font-family: 'Saonara';
    font-weight: lighter;
    font-size: 8vw;
}

.text8 {
    font-size: 25px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'artisan';
    font-size: 4vw;
    margin-top: -50px;
    color: #ffd76b;
}

/* ---- particles.js container ---- */

#particles-js {
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.9;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .text8 {
        padding-bottom: 10px;
        position: relative;
        font-family: 'artisan';
        font-size: 5vw;
        margin-top: -20px;
        color: white;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .text8 {
        padding-bottom: 10px;
        position: relative;
        font-family: 'artisan';
        font-size: 5vw;
        margin-top: -28px;
        color: lightcoral;
        margin-bottom: 80px;
    }
}


.text9 {
    font-size: 1vw;
}

.pad2 {
    padding-bottom: 90px;
}


.pad3 {
    padding-bottom: 20px;
}



.card1 {
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.8);
    background-color: white;
    opacity: 0.85;
    padding-bottom: 6px;
}

.card .face {
    width: 245px;
    transition: 0.5s;
}

.card {
    border: none;
    background-color: transparent;
}

.face1 {
    height: 144px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face2 {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    background-color: white;

}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.parallax {
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, 0.8)), url("../images/download(48).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.parallax2 {
    background-color: #1a1b1c;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.parallax3 {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../images/download(48).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.parallax4 {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../images/download(44).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.margNeg2 {
    margin-left: -40px;
}

.margNeg4 {
    margin-top: -50px;
}

.margNeg3 {
    margin-bottom: -10px;
}

/
/*
.raw {
    margin: auto;
}
 perspective 
.flip-container {
    perspective: 1000;
    margin: 10px;
    float: left;
}
*/

/* turning on hover */

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 470px;
    height: 270px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
}

/* flipping speed here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* making the the other side hidden while flipping */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    width: 470px;
    height: 300px;
}

/* front side is in front of a back side */

.front {
    z-index: 2;
    width: 470px;
    color: black;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.back {
    transform: rotateY(180deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    width: 470px;
}

.back p {
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
}



.flip-container2:hover .flipper2 {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-container2,
.front2,
.back2 {
    width: 270px;
    height: 270px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
}

/* flipping speed here */

.flipper2 {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* making the the other side hidden while flipping */

.front2,
.back2 {
    backface-visibility: hidden;
    position: absolute;
    width: 270px;
    height: 500px;
}

/* front side is in front of a back side */

.front2 {
    z-index: 2;
    width: 270px;
    color: white;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.back2 {
    transform: rotateY(180deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    width: 270px;
    background-color: white;
}

.back2 p {
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
}


.btn {
    line-height: 40px;
    height: 90px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-one {

    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.2, 2);
}

.btn-one:hover {
    opacity: 1;
    transform: scale(1, 1);
    color: white;
}


.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

#container {
/*    background-color: #ffd76b;  */
    background-color: black;
}

#containerX {
    background-color: #FFF9FB;

}

#container33 {
    /*    background-color: whitesmoke;*/
/*    margin-bottom: -40px;*/
    background-color: black;
    opacity: 0.9
}

#container343 {
    /*    background-color: whitesmoke;*/
    margin-bottom: -40px;
    background-color: #ffebe6;
/*    z-index: 9999;*/
}

.colorP {
    color: lightcoral;
    font-family: 'hud';
    font-size: 8vw;
    text-align: center;
    margin: auto;
    padding-bottom: 75px;
    padding-top: 75px;

}
